<h1 class="text-center">Event Detail</h1>


<div class= "container-events-info">
    <div class="mt-4 mb-4">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    <h4>Event List</h4>
                    {{#each event}}
                        <a class="list-group-item list-group-item-action list-hover" href="/event/{{this.slug}}"><li>{{this.name}}</li></a>
                    {{/each}}
                </ul>
            </div>

            <div class="col-md-9">
                <div class=" detail-background event-background__detail">
                    <p class="detail-title detail-title__name detail-title__name--modify">{{eventDetail.name}}</p>
                <img class="detail-img event-detail__img" src="{{eventDetail.image}}" alt="">
                <ul class="detail-info event-detail__info event-detail__info-tablet">
                    <p class="event-detail__date">Creation date: {{moment eventDetail.createdAt format="DD-MM-YYYY"}}</p>
                    <p class="event-detail__des">{{eventDetail.description}}</p>
                    <p class="event-detail__author">Author: {{eventDetail.author}}</p>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>