<h1 class="text-center">News Detail</h1>


<div class= "container-news-info">
    <div class="mt-4 mb-4">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    <h4>News List</h4>
                    {{#each news}}
                        <a class="list-group-item list-group-item-action list-hover" href="/news/{{this.slug}}"><li>{{this.name}}</li></a>
                    {{/each}}
                </ul>
            </div>

            <div class="col-md-9">
                <div class="col-lg-12 detail-background">
                    <img class="detail-img" src="{{newsDetail.image}}" alt="">
                    <ul class="detail-info">
                        <p class="text-right font-weight-bold">Creation date: {{moment newsDetail.createdAt format="DD-MM-YYYY"}}</p>
                        <p class="detail-title">{{newsDetail.title}}</p>
                        <p>{{newsDetail.description}}</p>
                        <p class="text-right font-weight-bold">Author: {{newsDetail.author}}</p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>