<h1>Deleted news</h1>
<a href="/news/manage">Stored news</a> (Total: {{storedCount}})

    <form action="/news/handle-form-actions" method="POST">
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Select all newss
                </label>
            </div>

            <select class="checkbox-select-all-options" name="action" id="action-select" required>
                <option value="restore" selected>Restore</option>
                <option value="force">Delete from bin</option>
            </select>

            <button  type="button" 
                class="btn btn-primary btn-small disabled check-all-submit-btn">Do action
            </button>
        </div>

        <div class="table-responsive table-sm">
            <table class="table mt-4 table-sm">
            <thead class="thead-mobile">
                <tr>
                    <th></th>
                <th scope="col">No (Total: {{deletedCount}})</th>
                <th scope="col">news Name</th>
                <th scope="col">Detail</th>
                <th scope="col">Deleted Date</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each news}}
                <tr>
                    <th>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="newsIds[]" value="{{this._id}}" >
                            </label>
                        </div>
                    </th>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{moment this.deletedAt format="HH:mm on DD-MM-YYYY"}}</td>
                <td style="padding:5px">
                    <a href="" data-toggle="modal" data-target="#restore-news" data-id="{{this._id}}"><button class="btn btn-secondary btn-restore" >Restore</button></a>
                    <a href="" data-toggle="modal" data-target="#delete-news" data-id="{{this._id}}"><button class="btn btn-secondary btn-force">Delete</button></a>
                </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        The trash is empty.
                        <a href="/news/manage">Stored news</a>
                    </td>
                </tr>

                {{/each}}
            </tbody>
            </table>
        </div>
        
    

    {{!-- Confirm force delete 1 news code --}}
    <div class="modal fade" id="delete-news" tabindex="-1" role="dialog" aria-labelledby="delete-newsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-newsLabel">Delete news</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This action <b>cannot be recovered.</b> <br>
                Are you sure you want to <b>permanently delete</b> this news?
            </div>
            <div class="modal-footer">
                <button id="btn-delete-news" type="button" class="btn btn-danger ">Permanently Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
            </div>
        </div>
        </div>

    {{!-- Confirm restore multiple newss code --}}
    <div class="modal fade" id="restore-news" tabindex="-1" role="dialog" aria-labelledby="restore-newsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="restore-newsLabel">Restore news</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to <b>restore</b> this news?
            </div>
            <div class="modal-footer">
                <button id="btn-restore-news" type="button" class="btn btn-danger ">Restore</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
            </div>
        </div>
        </div>

        {{!-- Confirm force delete multiple newss code --}}
    <div class="modal fade" id="action-change-modal" tabindex="-1" role="dialog" aria-labelledby="action-change-modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="action-change-modalLabel">Action news</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <b>Are you sure</b> you want to do that change?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-action-change-restore"> Action</button>
                {{!-- <button type="" class="btn btn-danger btn-action-change-modal">Permanently </button> --}}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
            </div>
        </div>
        </div>
</form>
        {{!-- Delete and restore form hidden --}}
        <form name="delete-news-form" method="post"></form>
        <form name="restore-news-form" method="post"></form>

<script>
    //WHEN HTML DOM is loaded, Delete confirm shows
    document.addEventListener('DOMContentLoaded', function(){
        var newsId;
        var deleteForm = document.forms['delete-news-form'];
        var forceBtnAll = document.querySelectorAll('.btn-force');

        var restoreForm = document.forms['restore-news-form'];
        var restoreBtnAll = document.querySelectorAll('.btn-restore');

        var checkboxAll = $('#checkbox-all');
        var newsItemCheckBox = $('input[name="newsIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');



        // When checkbox select all clicked
        checkboxAll.change( function () {
            var isCheckedAll = $(this).is(':checked');
            newsItemCheckBox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        })


        // When checkbox item clicked
        newsItemCheckBox.change( function () {
            var isCheckedAll = newsItemCheckBox.length === $('input[name="newsIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        })


        // Render submit action button 
        function renderCheckAllSubmitBtn(){
            var checkedCount = $('input[name="newsIds[]"]:checked').length;
            if (checkedCount > 0 ){
                checkAllSubmitBtn.removeClass('disabled')
                checkAllSubmitBtn.attr("data-toggle","modal");
                checkAllSubmitBtn.attr("data-target","#action-change-modal");
                 $('.btn-action-change-restore').attr("type","submit")
            }
            else{
                checkAllSubmitBtn.addClass('disabled')
                checkAllSubmitBtn.attr("data-toggle","");
                checkAllSubmitBtn.attr("data-target","");
            }
        }
        

        //When button delete clicked
        $('#delete-news').on('show.bs.modal', function (news) {
        var button = $(news.relatedTarget)
        newsId = button.data('id')
        })
        var btnDeletenews = document.getElementById('btn-delete-news')
        btnDeletenews.onclick = function(){
            deleteForm.action = '/news/' + newsId + '/force?_method=DELETE';
            deleteForm.submit();
        }


        //When button restore clicked
        $('#restore-news').on('show.bs.modal', function (news) {
        var button = $(news.relatedTarget)
        newsId = button.data('id')
        })
        var btnRestorenews = document.getElementById('btn-restore-news')
        btnRestorenews.onclick = function(){
            restoreForm.action = '/news/' + newsId + '/restore?_method=PATCH';
            restoreForm.submit();
        }
        
        
        // Restore multiple newss when btn clicked 
        $('.btn-action-change-restore').on('submit', function (e) {
            var isSubmittable = !$(this).hasClass('disable');
            if(!isSubmittable){
                e.prnewsDefault();
            }
        })




    })
</script>