
{{!-- ================================================================================================= --}}
<div class="container">
  <h1>Create new idea page</h1> 
  <div class="mt-4">
  <form action="/idea/store" method="post" enctype="multipart/form-data" id="idea-form">
        <div class="form-group">
          <label for="title">title</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" required> 
        </div>
        <div class="form-group">
          <label for="detail">detail</label>
          <textarea type="text" class="form-control" id="detail" name="detail" placeholder="Enter detail" required></textarea>
        </div>
        <div class="form-group">
          <label for="categoryName">Category Id</label>
          <input type="text" class="form-control" id="categoryName" name="categoryName" value="{{category._id}}" required> 
        </div>
        <div class="form-group">
          <label for="category">Category Name</label>
          <input type="text" class="form-control" id="category" name="category" value="{{category.categoryName}}" required> 
        </div>
        <h2 style="color:red">Name: {{category.categoryName}}</h2>
        <h2 style="color:red">Deadline: {{moment category.deadlineSubmit format="HH:mm on DD-MM-YYYY"}}</h2>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" value="{{userLogin._id}}" required> 
        </div>
        <div class="form-group">
          <label for="author">author</label>
          <input type="text" class="form-control" id="author" name="author" placeholder="Enter author" value="{{userLogin.username}}" required> 
        </div>
        <div class="form-group">
          <input type="file" name="file" class="form-upload validate[upload]"
            data-file-accept="pdf, doc, docx, xls, csv, txt, rtf, html, zip, jpg, jpeg, png, gif" 
            data-file-maxsize="10240" data-component="fileupload">
        </div>
      <input type="submit" class="btn btn-success btn-submit" value="Submit">
    </form>
    </div>
  </div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  //For deadline of submit idea
    $(document).ready(function () {

        //Deadline comment for users
        //var inputCmt = $('.input-idea')
        var btnSubmit = $('.btn-submit')
        var deadlineSubmitDate = new Date("{{category.deadlineSubmit}}")
        if ( deadlineSubmitDate <= Date.now()){
            btnSubmit.attr("disabled","disabled")
            btnSubmit.attr("class","btn btn-secondary")
            //inputCmt.attr("disabled","disabled")
        };
    });
</script>