<h1 class="text-center">Manage idea</h1>
<h5 class="text-center">(Total: {{storedCount}})</h5>
<a href="/idea/trash"><i class="fa fa-trash"></i> Trash idea </a>
(Total deleted idea: {{deletedCount}})


<form name="container-form" action="/idea/handle-form-actions" method="POST">
    <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">
                Select all
            </label>
        </div>

        <select class="checkbox-select-all-options" name="action" required>
            <option value="delete">Delete</option>
        </select>

        
        <button value="Do action" type="button" class="btn btn-primary disabled check-all-submit-btn">
            Do action
        </button>
        {{!-- <button class="btn btn-primary btn-small disabled check-all-submit-btn">Go</button> --}}
    </div>

    <div class="table-responsive">
        <table class="table mt-4">
        <thead>
            <tr>
                <th></th>
                <th scope="col">No</th>
                <th scope="col">Idea Title</th>
                <th scope="col">Detail</th>
                <th scope="col">Category</th>
                <th scope="col">Author</th>
                <th scope="col">Ratings</th>
                <th scope="col">Created Date</th>
                <th scope="col">File
                    {{#ifeq userLogin.role 'Admin'}}
                    <a href="/idea/download"><button class="btn btn-primary"> Download all files</button></a>
                    {{/ifeq}}
                </th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each idea}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="ideaIds[]" value="{{this._id}}" >
                        </label>
                    </div>
                </td>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.title}}</td>
            <td>{{this.detail}}</td>
            <td>{{this.categoryName.categoryName}}</td>
            <td>{{this.username.username}}</td>
            <td>{{this.ratings}}</td>
            <td>{{moment this.createdAt format="HH:mm on DD-MM-YYYY"}}</td>
            <td>{{this.file}}</td>
            <td style="padding:5px">
                <a href="/idea/{{this._id}}/edit"><button type="button" class="btn btn-secondary btn-crud-reponsive">Edit</button></a>
                <a href="/idea/{{this.slug}}"><button type="button" class="btn btn-secondary btn-crud-reponsive">Detail</button></a>
                <a href="" data-toggle="modal" data-target="#delete-idea" data-id="{{this._id}}">
                    <button class="btn btn-secondary btn-crud-reponsive">Delete</button>
                </a>
            </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    You have not created any idea.
                    <a href="/idea/create">Create new one?</a>
                </td>
            </tr>

            {{/each}}
        </tbody>
        </table>
    </div>
    {{!-- Confirm delete code --}}
    <div class="modal fade" id="delete-idea" tabindex="-1" role="dialog" aria-labelledby="delete-ideaLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-ideaLabel">Delete idea</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to delete this idea?
            </div>
            <div class="modal-footer">
                <button id="btn-delete-idea" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
            </div>
        </div>
        </div>

        <!-- Delete multiple ideas model confirm -->
        <div class="modal fade" id="delete-multiple-ideas" tabindex="-1" role="dialog" aria-labelledby="delete-multiple-ideas" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-multiple-ideasLabel">Delete idea</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to <b>delete</b> these ideas?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-small disabled delete-multiple-ideas-btn">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
</form>
        {{!-- Delete form hidden --}}
        <form name="delete-idea-form" method="post"></form>

        <script>
            //WHEN HTML DOM is loaded, Delete confirm shows
            document.addEventListener('DOMContentLoaded', function(){
                var ideaId;
                var deleteForm = document.forms['delete-idea-form'];
                var checkboxAll = $('#checkbox-all');
                var ideaItemCheckBox = $('input[name="ideaIds[]"]');
                var deleteMultipleIdeasBtn = $('.delete-multiple-ideas-btn');
                var containerForm = document.forms['container-form'];
                var checkAllSubmitBtn = $('.check-all-submit-btn');

                $('#delete-idea').on('show.bs.modal', function (idea) {
                var button = $(idea.relatedTarget)
                ideaId = button.data('id')
                })

                //When delete idea btn clicked
                var btnDeleteIdea = document.getElementById('btn-delete-idea')
                btnDeleteIdea.onclick = function(){
                    deleteForm.action = '/idea/' + ideaId + '?_method=DELETE';
                    deleteForm.submit();
                }

                //Checkbox all clicked
                checkboxAll.change(function () {
                    var isCheckedAll = $(this).prop('checked');
                        ideaItemCheckBox.prop('checked', isCheckedAll);
                        renderCheckAllSubmitBtn();
                });

                ideaItemCheckBox.change(function () {
                    var isCheckedAll = ideaItemCheckBox.length === $('input[name="ideaIds[]"]:checked').length;
                    checkboxAll.prop('checked', isCheckedAll);
                    renderCheckAllSubmitBtn();
                })

                //Check all submit btn clicked not submit
                deleteMultipleIdeasBtn.on('submit', function (e) {
                    var isSubmittable = !$(this).hasClass('disable');
                    if(!isSubmittable){
                        e.preventDefault();
                    }
                })

                checkAllSubmitBtn.on('change', function (e) {
                    var isSubmittable = !$(this).hasClass('disable');
                    if(isSubmittable){
                        e.preventDefault();
                        console.log('123')
                    }
                })
                

                //Re-render check all submit button <Go>
                function renderCheckAllSubmitBtn() {
                    var checkedCount = $('input[name="ideaIds[]"]:checked').length;
                    if(checkedCount > 0){
                        deleteMultipleIdeasBtn.removeClass('disabled');
                        checkAllSubmitBtn.removeClass('disabled');
                        checkAllSubmitBtn.attr("data-toggle","modal");
                        checkAllSubmitBtn.attr("data-target","#delete-multiple-ideas");
                    } else{
                        deleteMultipleIdeasBtn.addClass('disabled');
                        checkAllSubmitBtn.addClass('disabled');
                        checkAllSubmitBtn.attr("data-toggle","");
                        checkAllSubmitBtn.attr("data-target","");
                    }
                }
                
            })
        </script>