
<div class="mt-4">
    <div class="row">
        <div style="background-color:lightgrey" class="col-lg-12">
            <h1 class="text-center">Idea Detail</h1>
            <p>- Title: {{idea.title}}</p>
            <p>- Detail: {{idea.detail}}</p>
            <p>- Author: {{idea.author}}</p>
            <p>- Create at: {{moment idea.createdAt format="HH:mm on DD-MM-YYYY"}}</p>
            <p>- Update at: {{moment idea.updatedAt format="HH:mm on DD-MM-YYYY"}}</p>
        </div>
    </div>
</div>