<div class="container">
    <div class="title-of-idea">
            <span class="avatar-for-idea"><img class="profile-img-idea" src="{{userLogin.avatar}}" alt="avatar"></span>
            <b style="margin-bottom:0">{{idea.username.username}}</b>
            <p style="font-size: 10px; color:rgb(107, 104, 104);">{{moment idea.createdAt format="DD-MM-YYYY on HH:mm"}}</p>
            <p style="font-size:18px">{{idea.title}}</p>
            <p style="font-size:14px">{{idea.detail}}</p>
            <p>File: <a id="file-check" href="../../idea/{{idea.file}}">{{idea.file}}</a></p>
                <p><i class="fas fa-heart" style="color:red"></i> <span id="ratings-{{ idea._id }}">{{ idea.ratings }}</span></p>
                <hr>
                <div class="interactive-for-idea">
                <div class="like-unlike-btn">
                    <button onclick="actOnPost(event);" class="btn btn-success btn-reactive"
                            data-post-id="{{ idea._id }}">Like</button>
                    <button onclick="actOnPost(event);" class="btn btn-success btn-reactive"
                            data-post-id="{{ idea._id }}">Unlike
                    </button>
                </div>
                <div id="show-content-idea" class="show-content-of-idea">
                    <p>Show content</p>
                </div>
            </div>
                <div id="commentIdea" class="comment-for-idea">
                    {{#idea}}
                    {{#comment}}
                        {{#if annoymous}}
                        <input id="comment-posted-username" value="Annoymous" class="mt-4" disabled>
                        {{else}}
                        <input id="comment-posted-username" value="Name: {{userName}}" class="mt-4" disabled>
                        {{/if}}
                        <p>Content: {{content}}</p>
                        <p>Comment at (Hour): {{moment commentAt format="HH:mm"}}</p>
                        <p>Comment at (Date): {{moment commentAt format="DD-MM-YYYY"}}</p>
                    {{/comment}}
                    {{/idea}}
                    <input class="form-control input-comment" placeholder="Write comment..." type="text" name="content">
                </div>
    </div>
</div>

<script>
    var showContent= document.getElementById('show-content-idea')
    var commentIdea=document.getElementById('commentIdea')
    showContent.onclick=function(){
        commentIdea.setAttribute("style", "background-color:black")
    }
</script>



<div class="mt-4">
    <div class="row">
        <div style="background-color:lightgrey" class="col-lg-12">
            <h1 class="text-center">Idea Detail</h1>
            <p>- Title: {{idea.title}}</p>
            <p>- Detail: {{idea.detail}}</p>
            <p>- Ratings: {{idea.ratings}}</p>
            <p>- Author: {{idea.username.username}}</p>
            <p>- Category: {{idea.categoryName.categoryName}}</p>
            <p>- File: <a href="../../idea/{{idea.file}}">{{idea.file}}</a></p>
            <p>- Deadline Submit: {{moment idea.categoryName.deadlineSubmit format="HH:mm on DD-MM-YYYY"}}</p>
            <p>- Dealine Cmt: {{moment idea.categoryName.deadlineCmt format="HH:mm on DD-MM-YYYY"}}</p>

            <p>- Create at: {{moment idea.createdAt format="HH:mm on DD-MM-YYYY"}}</p>
            <p>- Update at: {{moment idea.updatedAt format="HH:mm on DD-MM-YYYY"}}</p>
        </div>
    </div>
     <button onclick="actOnPost(event);" class="btn btn-success btn-reactive"
            data-post-id="{{ idea._id }}">Like</button>
    <button onclick="actOnPost(event);" class="btn btn-success btn-reactive"
            data-post-id="{{ idea._id }}">Unlike
    </button>
    <p><span id="ratings-{{ idea._id }}">{{ idea.ratings }}</span> liked this</p>

    <form action="/idea/{{idea._id}}/storeComment?_method=PUT" method="post"> 
        <input class="form-control input-comment" type="text" id="comment-user-name" name="userName" disabled>
        <text>Write comment:</text><input class="form-control input-comment" type="text" name="content">
        <p>
            <input type="checkbox" style="" id="comment-annoymous" value="true" name="annoymous">
            Comment as anonymous
        </p>
        {{!-- ====================== For send email comment HIDDEN form ====================================--}}

        <text>Idea id:</text><input type="" id="comment-idea-id input-comment" name="idea_id" value="{{idea._id}}">
        <text>Cmt at:</text><input class="form-control input-comment" id="comment-date" name="commentAt">
        <input type="text" name="ideaTitle" value="{{idea.title}}">
        <input type="text" name="emailReceiver" value="{{idea.username.email}}">
        {{!-- ============================================================================ --}}
        <input class="input-comment btn btn-success" type="submit" value="Submit">
    </form> 
    

    <div class="card">
        <p>Comments: </p>
    {{#idea}}
    {{#comment}}
        {{#if annoymous}}
        <input id="comment-posted-username" value="Annoymous" class="mt-4" disabled>
        {{else}}
        <input id="comment-posted-username" value="Name: {{userName}}" class="mt-4" disabled>
        {{/if}}
        <p>Content: {{content}}</p>
        <p>Comment at (Hour): {{moment commentAt format="HH:mm"}}</p>
        <p>Comment at (Date): {{moment commentAt format="DD-MM-YYYY"}}</p>
    {{/comment}}
    {{/idea}}
    </div>
</div>
</div>
</div>

{{!-- Auto import username and comment date for user comment --}}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        $(document).ready(function () {
            //Assign the user name of who is using to input form
            $('input[id="comment-user-name"]').val("{{userLogin.username}}");
            //Assign time now for posting cmt
            $('input[id="comment-date"]').val(Date.now());
            //Deadline comment for users
            var btnReactive = $('.btn-reactive')
            var inputCmt = $('.input-comment')
            var deadlineSubmitDate = new Date("{{idea.categoryName.deadlineCmt}}")
            if ( deadlineSubmitDate <= Date.now()){
                btnReactive.attr("disabled","disabled")
                inputCmt.attr("disabled","disabled")
            }
        });

    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        //Check type of file uploaded to import icon 
        var imgShow = '<img src="/idea/{{this.file}}" alt="{{this.title}}" style="width:50px; height:50px">'
        var pdfShow = '<i class="fa fa-file-powerpoint"></i> {{this.file}}'
        var wordShow = '<i class="fa fa-file-word"></i> {{idea.file}}'
        var excelShow = '<i class="fa fa-file-xls"></i> {{this.file}}'
        var fileCheck = document.getElementById("file-check").innerHTML
        var fileName;
        var fileLastName;
        fileName = fileCheck.split('.')
        fileLastName = fileName[fileName.length -1]

        if (fileLastName == 'doc' || fileLastName == 'docx' || fileLastName == 'txt'){
            document.getElementById("file-check").innerHTML = wordShow;
        }
        else if (fileLastName == 'xls'){
            document.getElementById("file-check").innerHTML = excelShow;
        }
        else if (fileLastName == 'jpg' || fileLastName=='jpeg' || fileLastName== 'png' ){
            document.getElementById("file-check").innerHTML = imgShow;
        }
        else if (fileLastName == 'pdf') {
            document.getElementById("file-check").innerHTML = pdfShow
        }
        else{
            document.getElementById("file-check").innerHTML = ''
        }

        //Like button
        var updateIdeaRatings = {
            Like: function (postId) {
                document.querySelector('#ratings-' + postId).textContent++;
            },
            Unlike: function(postId) {
                document.querySelector('#ratings-' + postId).textContent--;
            }
        };
    
        var toggleButtonText = {
            Like: function(button) {
                button.textContent = "Unlike";
            },
            Unlike: function(button) {
                button.textContent = "Like";
            }
        };
    
        var actOnPost = function (event) {
            var postId = event.target.dataset.postId;
            var action = event.target.textContent.trim();
            toggleButtonText[action](event.target);
            updateIdeaRatings[action](postId);
            axios.post('/idea/' + postId + '/interactive?_method=PUT', { action: action });
        };
    </script>