<div class="container">
    
    <div class="title-of-idea container-fluid idea-count">
        <div class="row">
            <div class="avatar-for-idea">
                <a href="../user/{{idea.username.slug}}">
                    <span class="avatar-for-idea"><img class="profile-img-idea" src="{{idea.username.avatar}}" alt="avatar"></span>
                </a>
            </div>
            <div class="col-sm-10">
                <a class="name-idea-owner" href="../user/{{idea.username.slug}}">
                    <b style="margin-bottom:0;">{{idea.username.username}}</b>
                </a>
                <p class="date-category-idea">
                {{moment idea.createdAt format="DD-MM-YYYY on HH:mm"}}
                <a href="../category/{{idea.categoryName.slug}}">
                    <span class="badge badge-pill badge-secondary badge-idea-list">{{idea.categoryName.categoryName}}</span>
                </a>
            </p>
            </div>
        </div>

        <b><p style="font-size:18px">{{idea.title}}</p></b>
        <p style="font-size:14px">{{idea.detail}}</p>
        <p><a id="file-check" href="../../idea/{{idea.file}}">{{idea.file}}</a></p>
        <hr>
        <p id="like-count" class="like-count"><i class="fas fa-heart"></i>
            <span id="ratings-{{idea._id}}">{{idea.ratings}}</span> liked idea idea
        </p>
        <div class="interactive-for-idea row">
            <div class="col-4 interactive-icons">
                <i class="far fa-thumbs-up like-icon" onclick="actOnIdea(event)" id="like-icon-{{idea._id}}" 
                    data-post-id="{{idea._id }}" interactive="Like"> Like</i>
            </div>
            <div class="col-4 interactive-icons">
            <i class="far fa-thumbs-down unlike-icon" onclick="actOnIdea(event)" id="unlike-icon-{{idea._id}}" 
                data-post-id="{{idea._id }}" interactive="Unlike"> Unlike</i>
            </div>
            <div class="col-4 interactive-icons">
                <i class="far fa-comment" id="show-content-idea"> Comments</i>
            </div>
        </div>
        <div id="comment-idea" class="comment-for-idea">
            <hr>
            {{#idea}}
            {{#comment}}
                {{#if annoymous}}
                    <input id="comment-posted-username" value="Anonymous" class="mt-4" disabled style="display: none;">
                    <img class="profile-img-for-comment" src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
                        <div class="box-comment">
                        <p><b>Anonymous</b><br>{{content}}</p>
                        </div>
                    <div style="margin-left: 32px;"><p style="font-size: 10px; color:rgb(107, 104, 104);">{{moment commentAt format="DD-MM-YYYY on HH:mm"}}</p></div>
                {{else}}
                    <input id="comment-posted-username" value="Name: {{userName}}" class="mt-4" disabled style="display: none;">
                    <img class="profile-img-for-comment" src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
                        <div class="box-comment">
                        <p><b>{{userName}}</b><br>{{content}}</p>
                        </div>
                    <div style="margin-left: 32px;"><p style="font-size: 10px; color:rgb(107, 104, 104);">{{moment commentAt format="DD-MM-YYYY on HH:mm"}}</p></div>
                {{/if}}
            {{/comment}}
            {{/idea}}
            <form action="/idea/{{idea._id}}/storeComment?_method=PUT" method="post"> 
                <div class="row"> 
                    <div class="col-lg-1 img-comment-idea">
                        <span><img class="profile-img-input-comment" src="{{idea.username.avatar}}" alt="avatar"></span>
                    </div>
                    <div class="col-lg-11 input-comment-idea">
                        <input class="input-comment" placeholder="Write comment..." type="text" name="content">
                    </div>
                </div>
                    <div class="comment-as-anonymous">
                        <p>
                            <input type="checkbox" style="width:10px; height:10px" id="comment-annoymous" value="true" name="annoymous">
                            Comment as anonymous
                        </p>
                    </div>
                </div>
                {{!-- ====================== For send email comment HIDDEN form ====================================--}}

                <input class="form-control" type="text" style="" id="comment-user-name" name="userName" hidden>
                <input type="" id="comment-idea-id input-comment" name="idea_id" value="{{idea._id}}" hidden>
                <input class="form-control input-comment" id="comment-date" name="commentAt"hidden>
                <input type="text" name="ideaTitle" value="{{idea.title}}"hidden>
                <input type="text" name="emailReceiver" value="{{idea.username.email}}" hidden>
                {{!-- ============================================================================ --}}
                <input class="input-comment btn btn-success" type="submit" value="Submit" hidden>
            </form> 
        </div>
                
    </div>
</div>

<script>
    var showContent= document.getElementById('show-content-idea')
    var commentIdea=document.getElementById('comment-idea')
    showContent.onclick=function(){
        commentIdea.setAttribute("style", "display:block")
        showContent.setAttribute("class", "fa fa-comment")
    }
</script>


{{!-- Auto import username and comment date for user comment --}}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script>
        $(document).ready(function () {
            //Assign the user name of who is using to input form
            $('input[id="comment-user-name"]').val("{{userLogin.username}}");
            //Assign time now for posting cmt
            $('input[id="comment-date"]').val(Date.now());
            //Deadline comment for users
            var btnReactive = $('.btn-reactive')
            var inputCmt = $('.input-comment')
            var deadlineSubmitDate = new Date("{{idea.categoryName.deadlineCmt}}")
            if ( deadlineSubmitDate <= Date.now()){
                btnReactive.attr("disabled","disabled")
                inputCmt.attr("disabled","disabled")
            }
        });

    </script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>

        //Check type of file uploaded to import icon 
        var imgShow = '<img class="idea-img" src="/idea/{{idea.file}}" alt="{{idea.title}}" style="width:100%; height:auto;  align-items: center;">'
        var pdfShow = '<i class="fa fa-file-powerpoint"></i> {{idea.file}}'
        var wordShow = '<i class="fa fa-file-word"></i> {{idea.file}}'
        var excelShow = '<i class="fa fa-file-xls"></i> {{idea.file}}'
        var fileCheck = document.getElementById("file-check").innerHTML
        var fileName;
        var fileLastName;
        fileName = fileCheck.split('.')
        fileLastName = fileName[fileName.length -1]

        if (fileLastName == 'doc' || fileLastName == 'docx' || fileLastName == 'txt'){
            document.getElementById("file-check").innerHTML = wordShow;
        }
        else if (fileLastName == 'xls'){
            document.getElementById("file-check").innerHTML = excelShow;
        }
        else if (fileLastName == 'jpg' || fileLastName=='jpeg' || fileLastName== 'png' ){
            document.getElementById("file-check").innerHTML = imgShow;
        }
        else if (fileLastName == 'pdf') {
            document.getElementById("file-check").innerHTML = pdfShow
        }
        else{
            document.getElementById("file-check").innerHTML = ''
        }

        //Like button
        var updateIdeaRatings = {
            Like: function (postId) {
                document.querySelector('#ratings-' + postId).textContent++;
            },
            Unlike: function(postId) {
                document.querySelector('#ratings-' + postId).textContent--;
            }
        };
    
        var toggleButtonText = {
            Like: function(button) {
                button.textContent = "Unlike";
            },
            Unlike: function(button) {
                button.textContent = "Like";
            }
        };
    
        var actOnPost = function (event) {
            var postId = event.target.dataset.postId;
            var action = event.target.textContent.trim();
            toggleButtonText[action](event.target);
            updateIdeaRatings[action](postId);
            axios.post('/idea/' + postId + '/interactive?_method=PUT', { action: action });
        };
    </script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <script>
        //=============== REALTIME INTERACTIVE FOR IDEA ==================//
        // Change number of ratings context
        
        var updateIdeaRatings = {
            Like: function (postId) {
                var ratings = document.querySelector('#ratings-' + postId).textContent;
                ratings++
                document.querySelector('#ratings-' + postId).textContent = ratings
            },
            CancelLike: function (postId) {
                var ratings = document.querySelector('#ratings-' + postId).textContent;
                ratings--
                document.querySelector('#ratings-' + postId).textContent = ratings
            },
            Unlike: function(postId) {
                var ratings = document.querySelector('#ratings-' + postId).textContent;
                ratings--
                document.querySelector('#ratings-' + postId).textContent = ratings
            },
            CancelUnlike: function(postId) {
                var ratings = document.querySelector('#ratings-' + postId).textContent;
                ratings++
                document.querySelector('#ratings-' + postId).textContent = ratings
            },
            LikeThenUnlike: function(postId) {
                var ratings = document.querySelector('#ratings-' + postId).textContent;
                ratings--;ratings--
                document.querySelector('#ratings-' + postId).textContent = ratings
            },
            UnlikeThenLike: function(postId) {
                var ratings = document.querySelector('#ratings-' + postId).textContent;
                ratings++;ratings++
                document.querySelector('#ratings-' + postId).textContent = ratings
            }
        };

        // Modify icon after user rate
        var toggleButtonIcon = {
            Like: function(icon, postId) { 
                icon.setAttribute("class","fa fa-thumbs-up choosen-icon")
                icon.setAttribute("style","color:rgb(255, 50, 71)")
                icon.setAttribute("interactive","CancelLike")
                if($('#unlike-icon-'+postId).hasClass("choosen-icon") || $('#like-icon-'+postId).hasClass("choosen-icon")){
                    document.getElementById("unlike-icon-"+postId).setAttribute("class","far fa-thumbs-down")
                    document.getElementById("unlike-icon-"+postId).setAttribute("style","")
                    document.getElementById("unlike-icon-"+postId).setAttribute("interactive","LikeThenUnlike")
                }
            },
            CancelLike: function(icon, postId) {
                icon.setAttribute("class","far fa-thumbs-up")
                icon.removeAttribute("style")
                if(!$('#like-icon-'+postId).hasClass("choosen-icon")){
                    icon.setAttribute("interactive","Like")
                    document.getElementById("unlike-icon-"+postId).setAttribute("interactive","Unlike")
                }else{
                    icon.setAttribute("interactive","Like")
                }
            },
            Unlike: function(icon, postId) {
                icon.setAttribute("class","fa fa-thumbs-down choosen-icon")
                icon.setAttribute("interactive","CancelUnlike")
                if($('#like-icon-'+postId).hasClass("choosen-icon") || $('#unlike-icon-'+postId).hasClass("choosen-icon")){
                    document.getElementById("like-icon-"+postId).setAttribute("class","far fa-thumbs-up")
                    document.getElementById("like-icon-"+postId).setAttribute("style","")
                    document.getElementById("like-icon-"+postId).setAttribute("interactive","UnlikeThenLike")
                }
            },
            CancelUnlike: function(icon, postId) {
                icon.setAttribute("class","far fa-thumbs-down")
                if(!$('#unlike-icon-'+postId).hasClass("choosen-icon")){
                    icon.setAttribute("interactive","Unlike")
                    document.getElementById("like-icon-"+postId).setAttribute("interactive","Like")
                }else{
                icon.setAttribute("interactive","Unlike")
                }
            },
            LikeThenUnlike: function(icon, postId) {
                icon.setAttribute("class","fa fa-thumbs-down choosen-icon")
                icon.setAttribute("interactive","CancelUnlike")
                if($('#like-icon-'+postId).hasClass("choosen-icon")){
                    document.getElementById("like-icon-"+postId).setAttribute("class","far fa-thumbs-up")
                    document.getElementById("like-icon-"+postId).setAttribute("style","")
                    document.getElementById("like-icon-"+postId).setAttribute("interactive","UnlikeThenLike")
                }
            },
            UnlikeThenLike: function(icon, postId) {
                icon.setAttribute("class","fa fa-thumbs-up choosen-icon")
                icon.setAttribute("style","color:rgb(255, 50, 71)")
                icon.setAttribute("interactive","CancelLike")
                if($('#unlike-icon-'+postId).hasClass("choosen-icon")){
                    document.getElementById("unlike-icon-"+postId).setAttribute("class","far fa-thumbs-down")
                    document.getElementById("unlike-icon-"+postId).setAttribute("interactive","LikeThenUnlike")
                }
            }
        };

        //Send req to the server for modify ratings of idea
        var actOnIdea = function (event) {
            var postId = event.target.dataset.postId;
            var action = event.target.getAttribute("interactive").trim();
            toggleButtonIcon[action](event.target, postId);
            console.log(action)
            updateIdeaRatings[action](postId);
            axios.post('/idea/' + postId + '/interactive?_method=PUT', { action: action });
        };
    </script>