<h1 class="text-center">Account Detail</h1>


<div class="mt-4 mb-4">
    <div class="row">
        <div class="col-3">
            <ul class="list-group">
                <h4>Account List</h4>
                {{#each account}}
                    <a class="list-group-item list-group-item-action list-hover" href="/account/{{this.slug}}"><li>{{this.name}}</li></a>
                {{/each}}
            </ul>
        </div>

        <div class="col-9">
            <div class="col-lg-12 detail-background">
                <ul class="detail-info">
                    <p>Creation date: {{moment account.createdAt format="DD-MM-YYYY"}}</p>
                    <p class="detail-title">{{account.name}}</p>
                    <p>{{account.username}}</p>
                    <p>Author: {{account.author}}</p>
                    <p>Email: {{account.email}}</p>
                    <p>Password: {{account.password}}</p>
                    <p>Worktime: {{account.worktime}}</p>
                    <p>Workplace: {{account.workplace}}</p>
                    <p>Role: {{account.role}}</p>
                    <p>Address: {{account.address}}</p>
                    <p>Birth: {{account.birth}}</p>
                    <p>Gender: {{account.gender}}</p>
                </ul>
            </div>
        </div>
    </div>
</div>