<h1 class="text-center">Event </h1>

   <div class="col-12 row">
            {{#each event}}
            <div class="col-sm-4 col-md-4 col-lg-4">
                
            <div class="card event-card">
                <a class="card-content" href="/event/{{this.slug}}">
                    <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                </a>
                <div class="card-body body-new">
                    <a href="/event/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text text-new">{{this.description}}</p>
                    <div class="btn btn-primary">

                    </div>
                     <a class="slug" href="/event/{{this.slug}}">
                     <div class="slug-content__modify">

                       <i class="fas fa-arrow-right icon"></i>
                        See More 
                     </div>
                    </a>    
                </div>  
            </div>
        </div>
        {{/each}}
        </div>
    
</div>

 