<h1 class="text-center">Event Layout</h1>

   <div class="col-12 row">
            {{#each event}}
            <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="card">
                <a class="card_content" href="/event/{{this.slug}}">
                    <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                </a>
                <div class="card-body">
                    <a href="/event/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                     <a class="" href="/event/{{this.slug}}">
                       <i  class="fas-solid fas-right" ></i>
                        See More 
                    </a>
                </div>  
            </div>
        </div>
        {{/each}}
        </div>
    
</div>

 