<h1 class="text-center">Event </h1>
<div class="mt-4">
    <ul class="row">
        <div class="col-3">
            <ul class="list-group">
                <h4>Event List</h4>
                {{#each event}}
                    <a class="list-group-item list-group-item-action list-hover" href="/event/{{this.slug}}"><li>{{this.name}}</li></a>
                {{/each}}
            </ul>
        </div>

   <div class="col-9 row">
            {{#each event}}
            <div class="col-sm-4 col-md-4 col-lg-4">
                
            <div class="card event-card">
                <a class="card-content" href="/event/{{this.slug}}">
                    <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                </a>
                <div class="card-body body-new">
                    <a href="/event/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text text-new ">{{this.description}}</p>
                  
                        <div class="event-footer-button">
                            <a  href="/event/{{this.slug}}"> 
                            <button>See more</button>
                            </a> 
                        </div>   
                </div>  
            </div>
        </div>
        {{/each}}
        </div>
    </ul>
</div>

 