<div class="container">
    <h1 class="text-center">Idea Layout</h1>


<div class="mt-4">
    <ul class="row">
        <div class="col-3 list-idea">
                <table id="customers">
                    <tr>
                        <th>Most Interactive Idea</th>
                    </tr>
                {{#each idea}}
                {{!-- <li><a href="/idea/{{this.slug}}">{{this.title}}</a></li> --}}
                    
                    <tr>
                        <td><a href="/idea/{{this.slug}}">{{this.title}}</a></td>
                    </tr>
                {{/each}}
                </table>
        </div>

        <div class="col-9 row">
            {{#each idea}}
            <div class="col-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <a href="/idea/{{this.slug}}">
                        <h5 class="card-title">{{this.title}}</h5>
                    </a>
                    <p class="card-text idea-detail">{{this.detail}}</p>
                    Author: <p class="card-text">{{this.author}}</p>
                    Category: <p class="card-text">{{this.type}}</p>
                    File: <p class="card-text"><a href="../../idea/{{this.file}}"><img src="/idea/{{this.file}}" alt="{{this.title}}" style="width:50px; height:50px"></a></p>
                    <a href="/idea/{{this.slug}}" class="btn btn-primary"> Detail </a>
                    <br>
                    <button onclick="actOnPost(event);" class="btn btn-success"
                            data-post-id="{{ this._id }}">Like
                    </button>
                    <button onclick="actOnPost(event);" class="btn btn-success"
                            data-post-id="{{ this._id }}">Unlike
                    </button>
                    <p><span id="ratings-{{ this._id }}">{{ this.ratings }}</span> liked this</p>

                    <form action="/idea/{{this._id}}/storeComment?_method=PUT" method="post"> 
                        <label for="idea-comment">Write a comment:</label>
                        <input class="form-control" type="text" style="" id="comment-user-name" name="userName" disabled>
                        <text>content:</text><input class="form-control" type="text" name="content">
                        <p>
                            <input type="checkbox" style="" id="comment-annoymous" value="true" name="annoymous">
                            Comment as anonymous
                        </p>
                        {{!-- ====================== For send email comment ====================================--}}
                        <text>Cmt at:</text><input class="form-control" style="" id="comment-date" name="commentAt">
                        <text>Idea id:</text><input type="" id="comment-idea-id" name="idea_id" value="{{this._id}}">
                        <input type="text" name="ideaTitle" value="{{this.title}}">
                        <input type="text" name="emailReceiver" value="{{this.username.email}}">
                        {{!-- ============================================================================ --}}
                        <input type="submit" value="Submit">
                    </form> 
                    

                    <div class="card">
                        <p>Comments: </p>
                    {{#comment}}
                        {{#if annoymous}}
                        <input id="comment-posted-username" value="Annoymous" class="mt-4" disabled>
                        {{else}}
                        <input id="comment-posted-username" value="Name: {{userName}}" class="mt-4" disabled>
                        {{/if}}
                        <p>Content: {{content}}</p>
                        <p>Comment at (Hour): {{moment commentAt format="HH:mm"}}</p>
                        <p>Comment at (Date): {{moment commentAt format="DD-MM-YYYY"}}</p>
                    {{/comment}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        </div>
    </ul>
</div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        /* function doComment(form){
            $.ajax({
                url: "/idea/do-comment",
                method: "POST",
                data: {
                    userName: form.commentUserName.value, 
                    content: form.commentContent.value, 
                    commentAt: form.commentAt.value, 
                    annoymous: form.commentAnnoymous.value, 
                    idea_id: form.idea_id.value,
                }, 
                    success: function (res){
                        alert(res);
                    }
            });
            return false
        } 
        $(document).ready(function doComment(form) {
            $.ajax({
                url: "/idea/do-comment",
                method: "POST",
                data: {
                    userName: form.commentUserName.value, 
                    content: form.commentContent.value, 
                    commentAt: form.commentAt.value, 
                    annoymous: form.commentAnnoymous.value, 
                    idea_id: form.idea_id.value,
                }, 
                    success: function (res){
                        alert(res);
                    }
            });
            return false
        });*/
        
        $(document).ready(function () {
            //Assign the user name of who is using to input form
            $('input[id="comment-user-name"]').val("{{userLogin.username}}");
            //Assign time now for posting cmt
            $('input[id="comment-date"]').val(Date.now());
        });

    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var updateIdeaRatings = {
            Like: function (postId) {
                document.querySelector('#ratings-' + postId).textContent++;
            },
            Unlike: function(postId) {
                document.querySelector('#ratings-' + postId).textContent--;
            }
        };
    
        var toggleButtonText = {
            Like: function(button) {
                button.textContent = "Unlike";
            },
            Unlike: function(button) {
                button.textContent = "Like";
            }
        };
    
        var actOnPost = function (event) {
            var postId = event.target.dataset.postId;
            var action = event.target.textContent.trim();
            toggleButtonText[action](event.target);
            updateIdeaRatings[action](postId);
            axios.post('/idea/' + postId + '/interactive?_method=PUT', { action: action });
        };
    </script>
</div>