<div class="container">
    <h1 class="text-center">Idea Layout</h1>


<div class="mt-4">
    <ul class="row">
        <div class="col-3 list-idea">
                <table id="customers">
                    <tr>
                        <th>Most Interactive Idea</th>
                    </tr>
                {{#each idea}}
                    <tr>
                        <td><a href="/idea/{{this.slug}}">{{this.title}}</a></td>
                    </tr>
                {{/each}}
                </table>
        </div>

        <div style="display: block;" class="col-9 row content-idea">
            {{#each idea}}
            {{!-- <div class="col-12 mt-4">
                <div class="card">
                    <div class="card-body">
                        <a href="/idea/{{this.slug}}">
                            <h5 class="card-title">{{this.title}}</h5>
                        </a>
                        <p class="card-text idea-detail">{{this.detail}}</p>
                        Author: <p class="card-text">{{this.author}}</p>
                        Category: <p class="card-text">{{this.type}}</p>
                        File: <p class="card-text"><a href="../../idea/{{this.file}}">{{this.file}}</a></p>
                        <a href="/idea/{{this.slug}}" class="btn btn-primary"> Detail </a>
                        <br>

                        <i class="far fa-thumbs-up like-icon" onclick="actOnIdea(event)" id="like-icon-{{this._id}}" 
                            data-post-id="{{this._id }}" interactive="Like"></i>
                        <i class="far fa-thumbs-down unlike-icon" onclick="actOnIdea(event)" id="unlike-icon-{{this._id}}" 
                            data-post-id="{{this._id }}" interactive="Unlike"></i>
                        <p><span id="ratings-{{this._id}}">{{ this.ratings }}</span> liked this</p>

                        <form action="/idea/{{this._id}}/storeComment?_method=PUT" method="post"> 
                            <label for="idea-comment">Write a comment:</label>
                            <input class="form-control" type="text" style="" id="comment-user-name" name="userName">
                            <text>content:</text><input class="form-control" type="text" name="content">
                            <text>Cmt at:</text><input class="form-control" style="" id="comment-date" name="commentAt">

                            <text>Idea id:</text><input type="" id="comment-idea-id" name="idea_id" value="{{this._id}}">

                            <p>
                                <input type="checkbox" style="" id="comment-annoymous" value="true" name="annoymous">
                                Comment as anonymous
                            </p>
                            <input type="submit" value="Submit">
                        </form> 
                        

                        <div class="card">
                            <p>Comments: </p>
                        {{#comment}}
                            {{#if annoymous}}
                            <input id="comment-posted-username" value="Annoymous" class="mt-4" disabled>
                            {{else}}
                            <input id="comment-posted-username" value="Name: {{userName}}" class="mt-4" disabled>
                            {{/if}}
                            <p>Content: {{content}}</p>
                            <p>Comment at (Hour): {{moment commentAt format="HH:mm"}}</p>
                            <p>Comment at (Date): {{moment commentAt format="DD-MM-YYYY"}}</p>
                        {{/comment}}
                        </div>
                    </div>
                </div>
            </div> --}}

            <div class="title-of-idea container-fluid mt-3">
                <div class="row">
                    <div class="col-0.5">
                    <span class="avatar-for-idea"><img class="profile-img-idea" src="{{this.username.avatar}}" alt="avatar"></span>
                    </div>
                    <div class="col-11.5">
                    <b style="margin-bottom:0; padding-left:5px;">{{this.username.username}}</b>
                    <p style="font-size: 10px; color:rgb(107, 104, 104); padding-left:5px;">{{moment this.createdAt format="DD-MM-YYYY on HH:mm"}}</p>
                    </div>
                </div>
                <p style="font-size:18px">{{this.title}}</p>
                <p style="font-size:14px">{{this.detail}}</p>
                <p>File: <a id="file-check" href="../../idea/{{this.file}}">{{this.file}}</a></p>
                    <hr>
                    <div class="interactive-for-idea">
                    <div class="like-unlike-btn">
                        <p id="like-count"><i class="fas fa-heart" style="color:red"></i>
                            <span id="ratings-{{this._id}}">{{this.ratings }}</span> liked this idea
                        </p>
                        <i class="far fa-thumbs-up like-icon" onclick="actOnIdea(event)" id="like-icon-{{this._id}}" 
                                data-post-id="{{this._id }}" interactive="Like"></i>
                        <i class="far fa-thumbs-down unlike-icon" onclick="actOnIdea(event)" id="unlike-icon-{{this._id}}" 
                            data-post-id="{{this._id }}" interactive="Unlike"></i>
                    </div>
                    <div id="show-content-idea-{{this._id}}" class="show-content-of-idea">
                        <p>Show content</p>
                    </div>
                </div>
                    <div id="commentIdea" class="comment-for-idea">
                    <hr>
                        {{#idea}}
                        {{#comment}}
                            {{#if annoymous}}
                            <input id="comment-posted-username" value="Anonymous" class="mt-4" disabled style="display: none;">
                            <img class="profile-img-for-comment" src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
                                <div class="box-comment">
                                <p><b>Anonymous</b><br>{{content}}</p>
                                </div>
                            <div style="margin-left: 32px;"><p style="font-size: 10px; color:rgb(107, 104, 104);">{{moment commentAt format="DD-MM-YYYY on HH:mm"}}</p></div>
                            {{else}}
                            <input id="comment-posted-username" value="Name: {{userName}}" class="mt-4" disabled style="display: none;">
                            <img class="profile-img-for-comment" src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar">
                                <div class="box-comment">
                                <p><b>{{userName}}</b><br>{{content}}</p>
                                </div>
                            <div style="margin-left: 32px;"><p style="font-size: 10px; color:rgb(107, 104, 104);">{{moment commentAt format="DD-MM-YYYY on HH:mm"}}</p></div>
                            {{/if}}
                        {{/comment}}
                        {{/idea}}
                        <hr>
                        <form action="/idea/{{this._id}}/storeComment?_method=PUT" method="post"> 
                            <input class="form-control" type="text" style="" id="comment-user-name" name="userName" hidden>
                            <span><img class="profile-img-input-comment" src="{{userLogin.avatar}}" alt="avatar"></span>
                            <input class=" input-comment" placeholder="Write comment..." type="text" name="content">
                            <p style="font-size: 12px; margin-left:35px">
                                <input type="checkbox" style="widh:10px; height:10px" id="comment-annoymous" value="true" name="annoymous">
                                Comment as anonymous
                            </p>
                            {{!-- ====================== For send email comment HIDDEN form ====================================--}}

                            <input type="" id="comment-idea-id input-comment" name="idea_id" value="{{this._id}}" hidden>
                            <input class="form-control input-comment" id="comment-date" name="commentAt"hidden>
                            <input type="text" name="ideaTitle" value="{{this.title}}"hidden>
                            <input type="text" name="emailReceiver" value="{{this.username.email}}" hidden>
                            {{!-- ============================================================================ --}}
                            <input class="input-comment btn btn-success" type="submit" value="Submit" hidden>
                        </form> 
                    </div>
                </div>
            {{/each}}
        </div>
    </ul>
    <div class="pagination-idea-page">
        <li class="page-item previous-page disable"><a class="idea-page-link" href="#">Prev</a></li>
        <li class="page-item current-page active"><a class="idea-page-link" href="#">1</a></li>
        <li class="page-item dots"><a class="idea-page-link" href="#">...</a></li>
        <li class="page-item current-page"><a class="idea-page-link" href="#">5</a></li>
        <li class="page-item current-page"><a class="idea-page-link" href="#">6</a></li>
        <li class="page-item dots"><a class="idea-page-link" href="#">...</a></li>
        <li class="page-item current-page"><a class="idea-page-link" href="#">10</a></li>
        <li class="page-item next-page"><a class="idea-page-link" href="#">Next</a></li>
    </div>
</div>

    {{! Button show comment }}
    {{!-- <script>
        var showContent= document.getElementById('show-content-idea')
        var commentIdea=document.getElementById('commentIdea')
        showContent.onclick=function(){
            commentIdea.setAttribute("style", "display:block")
        }
    </script> --}}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        $(document).ready(function () {
            //Assign the user name of who is using to input form
            $('input[id="comment-user-name"]').val("{{userLogin.username}}");
            //Assign time now for posting cmt
            $('input[id="comment-date"]').val(Date.now());
        });
    </script>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        //=============== REALTIME INTERACTIVE FOR IDEA ==================//
        // Change number of ratings context
        
        var updateIdeaRatings = {
            Like: function (postId) {
                var ratings = document.querySelector('#ratings-' + postId).textContent;
                ratings++
                document.querySelector('#ratings-' + postId).textContent = ratings
            },
            CancelLike: function (postId) {
                var ratings = document.querySelector('#ratings-' + postId).textContent;
                ratings--
                document.querySelector('#ratings-' + postId).textContent = ratings
            },
            Unlike: function(postId) {
                var ratings = document.querySelector('#ratings-' + postId).textContent;
                ratings--
                document.querySelector('#ratings-' + postId).textContent = ratings
            },
            CancelUnlike: function(postId) {
                var ratings = document.querySelector('#ratings-' + postId).textContent;
                ratings++
                document.querySelector('#ratings-' + postId).textContent = ratings
            },
            LikeThenUnlike: function(postId) {
                var ratings = document.querySelector('#ratings-' + postId).textContent;
                ratings--;ratings--
                document.querySelector('#ratings-' + postId).textContent = ratings
            },
            UnlikeThenLike: function(postId) {
                var ratings = document.querySelector('#ratings-' + postId).textContent;
                ratings++;ratings++
                document.querySelector('#ratings-' + postId).textContent = ratings
            }
        };

        // Modify icon after user rate
        var toggleButtonIcon = {
            Like: function(icon, postId) { 
                icon.setAttribute("class","fa fa-thumbs-up choosen-icon")
                icon.setAttribute("style","color:rgb(255, 50, 71)")
                icon.setAttribute("interactive","CancelLike")
                if($('#unlike-icon-'+postId).hasClass("choosen-icon") || $('#like-icon-'+postId).hasClass("choosen-icon")){
                    document.getElementById("unlike-icon-"+postId).setAttribute("class","far fa-thumbs-down")
                    document.getElementById("unlike-icon-"+postId).setAttribute("style","")
                    document.getElementById("unlike-icon-"+postId).setAttribute("interactive","LikeThenUnlike")
                }
            },
            CancelLike: function(icon, postId) {
                icon.setAttribute("class","far fa-thumbs-up")
                icon.removeAttribute("style")
                if(!$('#like-icon-'+postId).hasClass("choosen-icon")){
                    icon.setAttribute("interactive","Like")
                    document.getElementById("unlike-icon-"+postId).setAttribute("interactive","Unlike")
                }else{
                    icon.setAttribute("interactive","Like")
                }
            },
            Unlike: function(icon, postId) {
                icon.setAttribute("class","fa fa-thumbs-down choosen-icon")
                icon.setAttribute("interactive","CancelUnlike")
                if($('#like-icon-'+postId).hasClass("choosen-icon") || $('#unlike-icon-'+postId).hasClass("choosen-icon")){
                    document.getElementById("like-icon-"+postId).setAttribute("class","far fa-thumbs-up")
                    document.getElementById("like-icon-"+postId).setAttribute("style","")
                    document.getElementById("like-icon-"+postId).setAttribute("interactive","UnlikeThenLike")
                }
            },
            CancelUnlike: function(icon, postId) {
                icon.setAttribute("class","far fa-thumbs-down")
                if(!$('#unlike-icon-'+postId).hasClass("choosen-icon")){
                    icon.setAttribute("interactive","Unlike")
                    document.getElementById("like-icon-"+postId).setAttribute("interactive","Like")
                }else{
                icon.setAttribute("interactive","Unlike")
                }
            },
            LikeThenUnlike: function(icon, postId) {
                icon.setAttribute("class","fa fa-thumbs-down choosen-icon")
                icon.setAttribute("interactive","CancelUnlike")
                if($('#like-icon-'+postId).hasClass("choosen-icon")){
                    document.getElementById("like-icon-"+postId).setAttribute("class","far fa-thumbs-up")
                    document.getElementById("like-icon-"+postId).setAttribute("style","")
                    document.getElementById("like-icon-"+postId).setAttribute("interactive","UnlikeThenLike")
                }
            },
            UnlikeThenLike: function(icon, postId) {
                icon.setAttribute("class","fa fa-thumbs-up choosen-icon")
                icon.setAttribute("style","color:rgb(255, 50, 71)")
                icon.setAttribute("interactive","CancelLike")
                if($('#unlike-icon-'+postId).hasClass("choosen-icon")){
                    document.getElementById("unlike-icon-"+postId).setAttribute("class","far fa-thumbs-down")
                    document.getElementById("unlike-icon-"+postId).setAttribute("interactive","LikeThenUnlike")
                }
            }
        };

        //Send req to the server for modify ratings of idea
        var actOnIdea = function (event) {
            var postId = event.target.dataset.postId;
            var action = event.target.getAttribute("interactive").trim();
            toggleButtonIcon[action](event.target, postId);
            console.log(action)
            updateIdeaRatings[action](postId);
            axios.post('/idea/' + postId + '/interactive?_method=PUT', { action: action });
        };
    </script>
    
        <script>

        //Check type of file uploaded to import icon 
        var imgShow = '<img class="idea-img" src="../../idea/test-img.jpeg" alt="{{this.title}}" style="width:100%; height:auto;  align-items: center;">'
        var pdfShow = '<i class="fa fa-file-powerpoint"></i> {{this.file}}'
        var wordShow = '<i class="fa fa-file-word"></i> {{this.file}}'
        var excelShow = '<i class="fa fa-file-xls"></i> {{this.file}}'
        var fileCheck = document.getElementById("file-check").innerHTML
        var fileName;
        var fileLastName;
        fileName = fileCheck.split('.')
        fileLastName = fileName[fileName.length -1]

        if (fileLastName == 'doc' || fileLastName == 'docx' || fileLastName == 'txt'){
            document.getElementById("file-check").innerHTML = wordShow;
        }
        else if (fileLastName == 'xls'){
            document.getElementById("file-check").innerHTML = excelShow;
        }
        else if (fileLastName == 'jpg' || fileLastName=='jpeg' || fileLastName== 'png' ){
            document.getElementById("file-check").innerHTML = imgShow;
        }
        else if (fileLastName == 'pdf') {
            document.getElementById("file-check").innerHTML = pdfShow
        }
        else{
            document.getElementById("file-check").innerHTML = ''
        }

        //Like button
        var updateIdeaRatings = {
            Like: function (postId) {
                document.querySelector('#ratings-' + postId).textContent++;
            },
            Unlike: function(postId) {
                document.querySelector('#ratings-' + postId).textContent--;
            }
        };
    
        var toggleButtonText = {
            Like: function(button) {
                button.textContent = "Unlike";
            },
            Unlike: function(button) {
                button.textContent = "Like";
            }
        };
    
        var actOnPost = function (event) {
            var postId = event.target.dataset.postId;
            var action = event.target.textContent.trim();
            toggleButtonText[action](event.target);
            updateIdeaRatings[action](postId);
            axios.post('/idea/' + postId + '/interactive?_method=PUT', { action: action });
        };
    </script>

    <script>
        function getPageList(totalPages, page, maxLength) {
            function range(start, end) {
                return Array.from(Array(end - start + 1), (_, i) => i + start);
            }

            var sideWidth = maxLength < 9 ? 1 : 2;
            var leftWidth = (maxLength - sideWidth * 2 - 3) >> 1;
            var rightWidth = (maxLength - sideWidth * 2 - 3) >> 1;

            if(totalPages <= maxLength) {
                return range(1, totalPages);
            }

            if(page <= maxLength - sideWidth - 1 - rightWidth) {
                return range(1, maxLength - sideWidth - 1).concat(0, range(totalPages - sideWidth + 1, totalPages));
            }

            if(page >= maxLength - sideWidth - 1 - rightWidth) {
                return range(1,sideWidth).concat(0, range(totalPages - sideWidth - 1 - rightWidth - leftWidth, totalPages));
            }

            return range(1, sideWidth).concat(0, range(page - leftWidth, page + rightWidth), 0, range(totalPages - sideWidth + 1, totalPages));
        }

        $(function(){
            var numberOfItems = $(".content-idea .card").length;
            var limitPerPage = 10;
            var totalPages = Math.ceil(numberOfItems / limitPerPage);
            var paginationSize = 7;
            var currentPage;

            function showPage(whichPage) {
                if(whichPage < 1 || whichPage > totalPages) return false;

                currentPage = whichPage;

                $(".content-idea .card").hide().slice((currentPage - 1) * limitPerPage, currentPage * limitPerPage).show();

                $(".pagination-idea-page li").slice(1, -1).remove();

                getPageList(totalPages, currentPage, paginationSize).forEach(item => {
                    $("<li>").addClass("page-item").addClass(item ? "current-page" : "dots")
                    .toggleClass("active", item === currentPage).append($("<a>").addClass("idea-page-link")
                    .attr({href: "javascript:void(0)"}).text(item || "...")).insertBefore(".next-page");
                });

                $(".previous-page").toggleClass("disable", currentPage === 1);
                $(".next-page").toggleClass("disable", currentPage === totalPages);
                return true;
            }

            $(".pagination-idea-page").append(
                $("<li>").addClass("page-item").addClass("previous-page").append($("<a>").addClass("idea-page-link").attr({href: "javascript:void(0)"}).text("Prev")),
                $("<li>").addClass("page-item").addClass("next-page").append($("<a>").addClass("idea-page-link").attr({href: "javascript:void(0)"}).text("Next")),
                
            );

            $(".card-content-idea").show();
            showPage(1);

            $(document).on("click", ".pagination-idea-page li.current-page:not(.active)", function(){
                return showPage(+$(this).text());
            });

            $(".next-page").on("click", function(){
                return showPage(currentPage + 1);
            });

            $(".previous-page").on("click", function(){
                return showPage(currentPage - 1);
            });

        });
        
    </script>

</div>