<h1 class="text-center">Idea Layout</h1>


<div class="mt-4">
    <ul class="row">
        <div class="col-3">
            <ul>
                {{#each idea}}
                <li><a href="/idea/{{this.slug}}">{{this.title}}</a></li>
                {{/each}}
            </ul>
        </div>

        <div class="col-9 row">
            {{#each idea}}
            <div class="col-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <a href="/idea/{{this.slug}}">
                        <h5 class="card-title">{{this.title}}</h5>
                    </a>
                    <p class="card-text idea-detail">{{this.detail}}</p>
                    Author: <p class="card-text">{{this.author}}</p>
                    Category: <p class="card-text">{{this.type}}</p>
                    File: <p class="card-text"><a href="../../idea/{{this.file}}">{{this.file}}</a></p>
                    <a href="/idea/{{this.slug}}" class="btn btn-primary"> Detail </a>
                    <br>
                    <button onclick="actOnPost(event);" class="btn btn-success"
                            data-post-id="{{ this._id }}">Like
                    </button>
                    <button onclick="actOnPost(event);" class="btn btn-success"
                            data-post-id="{{ this._id }}">Unlike
                    </button>
                    <p><span id="ratings-{{ this._id }}">{{ this.ratings }}</span> liked this</p>

                    {{!-- <form action="/idea/{{this._id}}?_method=PUT" method="post">  --}}
                    <form action="/idea/{{this._id}}/addComment" method="post"> 
                        <label for="idea-comment">Write a comment:</label>
                        <input class="form-control" type="text" style="" id="comment-user-name" name="comment[userName]">
                        <input class="form-control" type="text" name="comment[content]">
                        <input class="form-control" style="" id="comment-date" name="comment[commentAt]">
                        <p>
                            <input type="checkbox" style="" id="comment-annoymous" value="true" name="comment[annoymous]">
                            Comment as anonymous
                        </p>
                        <input type="submit" value="Submit">
                    </form> 
                    
                    {{#comment}}
                    <div class="card">
                        <p>Comments: </p>
                        {{#if annoymous}}
                        <input id="comment-posted-username" value="Annoymous" disabled>
                        {{else}}
                        <input id="comment-posted-username" value="Name: {{this.userName}}" disabled>
                        {{/if}}
                        <p>Content: {{this.content}}</p>
                        <p>Comment at (Hour): {{moment this.commentAt format="HH:mm"}}</p>
                        <p>Comment at (Date): {{moment this.commentAt format="DD-MM-YYYY"}}</p>
                    </div>
                    {{/comment}}

                </div>
            </div>
        </div>
        {{/each}}
        </div>
    </ul>
</div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            //Assign the user name of who is using to input form
            $('input[id="comment-user-name"]').val("{{userLogin.username}}");
            //Assign time now for posting cmt
            $('input[id="comment-date"]').val(Date.now());
        });
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var updateIdeaRatings = {
            Like: function (postId) {
                document.querySelector('#ratings-' + postId).textContent++;
            },
            Unlike: function(postId) {
                document.querySelector('#ratings-' + postId).textContent--;
            }
        };
    
        var toggleButtonText = {
            Like: function(button) {
                button.textContent = "Unlike";
            },
            Unlike: function(button) {
                button.textContent = "Like";
            }
        };
    
        var actOnPost = function (event) {
            var postId = event.target.dataset.postId;
            var action = event.target.textContent.trim();
            toggleButtonText[action](event.target);
            updateIdeaRatings[action](postId);
            axios.post('/idea/' + postId + '/interactive?_method=PUT', { action: action });
        };
    </script>