<h1 class="text-center">Idea Layout</h1>


<div class="mt-4">
    <ul class="row">
        <div class="col-3">
            <ul>
                {{#each idea}}
                <a href="/idea/{{this.slug}}"><li>{{this.title}}</li></a>
                {{/each}}
            </ul>
        </div>

        <div class="col-9 row">
            {{#each idea}}
            <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <a href="/idea/{{this.slug}}">
                        <h5 class="card-title">{{this.title}}</h5>
                    </a>
                    <p class="card-text">{{this.detail}}</p>
                    Author: <p class="card-text">{{this.author}}</p>
                    Category: <p class="card-text">{{this.type}}</p>
                    <a href="/idea/{{this.slug}}" class="btn btn-primary"> Detail </a>
                </div>
            </div>
        </div>
        {{/each}}
        </div>
    </ul>
</div>