<h1>Welcome to FearOG page</h1>
<p><em>Hello {{user.username}} {{user.email}} {{user.name}} {{req.body.name}} {{req.session.name}} {{req.body.username}} {{req.body.email}} {{req.session.username}} {{req.session.email}}</em><i class="fas fa-chevron-down"></i></p>
<p>Role: {{userLogin.role}}</p>
{{#if isAdmin}}
<p>Admin view</p>
{{else}}
<p>Staff view</p>
{{/if}}