<h1 class="text-center">User Detail</h1>


<div class="mt-4 mb-4">
    <div class="row">
        <div class="col-3">
            <ul class="list-group">
                <h4>User List</h4>
                {{#each user}}
                    <a class="list-group-item list-group-item-action list-hover" href="/user/{{this.slug}}"><li>{{this.name}}</li></a>
                {{/each}}
            </ul>
        </div>

        <div class="col-9">
            <div class="col-lg-12 detail-background">
                <ul class="detail-info">
                    <p>Creation date: {{moment user.createdAt format="DD-MM-YYYY"}}</p>
                    <p class="detail-title">{{user.name}}</p>
                    <p>{{user.username}}</p>
                    <p>Author: {{user.author}}</p>
                    <p>Email: {{user.email}}</p>
                    <p>Password: {{user.password}}</p>
                    <p>Worktime: {{user.worktime}}</p>
                    <p>Workplace: {{user.workplace}}</p>
                    <p>Role: {{user.role}}</p>
                    <p>Address: {{user.address}}</p>
                    <p>Birth: {{user.birth}}</p>
                    <p>Gender: {{user.gender}}</p>
                </ul>
            </div>
        </div>
    </div>
</div>