<h1 class="text-center">Deleted user</h1>
<a href="/user/manage"><i class="fa fa-cloud"></i> Stored user</a> (Total: {{storedCount}})

    <form action="/user/handle-form-actions" method="POST">
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Select all users
                </label>
            </div>

            <select class=" checkbox-select-all-options" name="action" id="action-select" required>
                <option value="restore" selected>Restore</option>
                <option value="force">Delete from bin</option>
            </select>

            <button  type="button" 
                class="btn btn-primary btn-small disabled check-all-submit-btn">Do action
            </button>
        </div>

        <table class="table">
        <thead>
            <tr>
            <th><a href="/user/create"><button type="button"class="btn btn-secondary">Create</button></a></th>
            <th scope="col">Total:{{deletedCount}}</th>
            <th scope="col">Name</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th> 
            <th scope="col">Workplace</th>
            <th scope="col">Role</th>
            <th scope="col">Created at</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each user}}
            <tr>
                <th>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="userIds[]" value="{{this._id}}" >
                        </label>
                    </div>
                </th>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.username}}</td>
            <td>{{this.email}}</td>
            <td>{{this.workplace}}</td>
            <td>{{this.role}}</td>
            <td>{{moment this.createdAt format="HH:mm on DD-MM-YYYY"}}</td>
            <td style="padding:5px">
                <a href="" data-toggle="modal" data-target="#restore-user" data-id="{{this._id}}"><button class="btn btn-secondary btn-restore" >Restore</button></a>
                <a href="" data-toggle="modal" data-target="#delete-user" data-id="{{this._id}}"><button class="btn btn-secondary btn-force">Delete</button></a>
            </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="10" class="text-center">
                    The trash is empty.
                    <a href="/user/manage"><i class="fa fa-cloud"></i>Stored user</a>
                </td>
            </tr>

            {{/each}}
        </tbody>
        </table>
    

    {{!-- Confirm force delete 1 user code --}}
    <div class="modal fade" id="delete-user" tabindex="-1" role="dialog" aria-labelledby="delete-userLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-userLabel">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This action <b>cannot be recovered.</b> <br>
                Are you sure you want to <b>permanently delete</b> this user?
            </div>
            <div class="modal-footer">
                <button id="btn-delete-user" type="button" class="btn btn-danger ">Permanently Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
            </div>
        </div>
        </div>

    {{!-- Confirm restore multiple users code --}}
    <div class="modal fade" id="restore-user" tabindex="-1" role="dialog" aria-labelledby="restore-userLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="restore-userLabel">Restore user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to <b>restore</b> this user?
            </div>
            <div class="modal-footer">
                <button id="btn-restore-user" type="button" class="btn btn-danger ">Restore</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
            </div>
        </div>
        </div>

        {{!-- Confirm force delete multiple users code --}}
    <div class="modal fade" id="action-change-modal" tabindex="-1" role="dialog" aria-labelledby="action-change-modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="action-change-modalLabel">Action user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <b>Are you sure</b> you want to do that change?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-action-change-restore"> Action</button>
                {{!-- <button type="" class="btn btn-danger btn-action-change-modal">Permanently </button> --}}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
            </div>
        </div>
        </div>
</form>
        {{!-- Delete and restore form hidden --}}
        <form name="delete-user-form" method="post"></form>
        <form name="restore-user-form" method="post"></form>

<script>
    //WHEN HTML DOM is loaded, Delete confirm shows
    document.addEventListener('DOMContentLoaded', function(){
        var userId;
        var deleteForm = document.forms['delete-user-form'];
        var forceBtnAll = document.querySelectorAll('.btn-force');

        var restoreForm = document.forms['restore-user-form'];
        var restoreBtnAll = document.querySelectorAll('.btn-restore');

        var checkboxAll = $('#checkbox-all');
        var userItemCheckBox = $('input[name="userIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');



        // When checkbox select all clicked
        checkboxAll.change( function () {
            var isCheckedAll = $(this).is(':checked');
            userItemCheckBox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        })


        // When checkbox item clicked
        userItemCheckBox.change( function () {
            var isCheckedAll = userItemCheckBox.length === $('input[name="userIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        })


        // Render submit action button 
        function renderCheckAllSubmitBtn(){
            var checkedCount = $('input[name="userIds[]"]:checked').length;
            if (checkedCount > 0 ){
                checkAllSubmitBtn.removeClass('disabled')
                checkAllSubmitBtn.attr("data-toggle","modal");
                checkAllSubmitBtn.attr("data-target","#action-change-modal");
                 $('.btn-action-change-restore').attr("type","submit")
            }
            else{
                checkAllSubmitBtn.addClass('disabled')
                checkAllSubmitBtn.attr("data-toggle","");
                checkAllSubmitBtn.attr("data-target","");
            }
        }
        

        //When button delete clicked
        $('#delete-user').on('show.bs.modal', function (user) {
        var button = $(user.relatedTarget)
        userId = button.data('id')
        })
        var btnDeleteUser = document.getElementById('btn-delete-user')
        btnDeleteUser.onclick = function(){
            deleteForm.action = '/user/' + userId + '/force?_method=DELETE';
            deleteForm.submit();
        }


        //When button restore clicked
        $('#restore-user').on('show.bs.modal', function (user) {
        var button = $(user.relatedTarget)
        userId = button.data('id')
        })
        var btnRestoreUser = document.getElementById('btn-restore-user')
        btnRestoreUser.onclick = function(){
            restoreForm.action = '/user/' + userId + '/restore?_method=PATCH';
            restoreForm.submit();
        }
        
        
        // Restore multiple users when btn clicked 
        $('.btn-action-change-restore').on('submit', function (e) {
            var isSubmittable = !$(this).hasClass('disable');
            if(!isSubmittable){
                e.preventDefault();
            }
        })




    })
</script>