<h1>Deleted Category</h1>
<a href="/me/stored/category">Stored Category</a>

    <table class="table">
    <thead>
        <tr>
        <th scope="col">No</th>
        <th scope="col">Category Name</th>
        <th scope="col">Detail</th>
        <th scope="col">Created Date</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each category}}
        <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{moment this.createdAt format="HH:mm on DD-MM-YYYY"}}</td>
        <td style="padding:5px">
            <a href=""><button class="btn btn-secondary btn-restore" data-id="{{this._id}}">Restore</button></a>
            <a href="" data-toggle="modal" data-target="#delete-category" data-id="{{this._id}}"><button class="btn btn-secondary">Delete</button></a>
        </td>
        </tr>
        {{else}}
        <tr>
            <td colspan="5" class="text-center">
                The trash is empty.
                <a href="/me/stored/category">Stored Category</a>
            </td>
        </tr>

        {{/each}}
    </tbody>
    </table>

    {{!-- Confirm delete code --}}
    <div class="modal fade" id="delete-category" tabindex="-1" role="dialog" aria-labelledby="delete-categoryLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-categoryLabel">Delete Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This action <b>cannot be recovered.</b> <br>
                Are you sure you want to <b>permanently delete</b> this category?
            </div>
            <div class="modal-footer">
                <button id="btn-delete-category" type="button" class="btn btn-danger ">Permanently Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
            </div>
        </div>
        </div>

        {{!-- Delete and restore form hidden --}}
        <form name="delete-category-form" method="post"></form>
        <form name="restore-category-form" method="post"></form>

        <script>
            //WHEN HTML DOM is loaded, Delete confirm shows
            document.addEventListener('DOMContentLoaded', function(){
                var categoryId;
                var deleteForm = document.forms['delete-category-form'];
                var restoreForm = document.forms['restore-category-form'];
                var restoreBtnAll = document.querySelectorAll('.btn-restore');

                $('#delete-category').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                categoryId = button.data('id')
                })

                var btnDeleteCategory = document.getElementById('btn-delete-category')
                btnDeleteCategory.onclick = function(){
                    deleteForm.action = '/category/' + categoryId + '/force?_method=DELETE';
                    deleteForm.submit();
                }


                restoreBtnAll.forEach((restoreBtn) => {
                    restoreBtn.addEventListener('click', (e) => {
                        e.preventDefault();

                        var categoryId = restoreBtn.getAttribute('data-id');
                        restoreForm.action = '/category/' + categoryId + '/restore?_method=PATCH';
                        restoreForm.submit()
                    });
                });
            })
        </script>