<h1>Edit category page</h1> 
<div class="mt-4 ml-4">
  {{!-- enctype="multipart/form-data" --}}
<form action="/category/{{category._id}}?_method=PUT" method="post">
  <div class="form-group">
        <label for="name">name</label>
        <input type="text" class="form-control" value="{{category.name}}" id="name" name="name" placeholder="Enter name"> 
      </div>
      <div class="form-group">
        <label for="createdAt">Create at</label>
        <input type="text" class="form-control" value="{{category.createdAt}}" id="createdAt" name="createdAt" disabled="disabled" placeholder="Enter createdAt"> 
      </div>
      <div class="form-group">
        <label for="updatedAt">Updated at</label>
        <input type="text" class="form-control" value="{{category.updatedAt}}" id="updatedAt" name="updatedAt" disabled="disabled" placeholder="Enter updatedAt"> 
      </div> 
      <div class="form-group">
        <label for="slug">slug</label>
        <input type="text" class="form-control" value="{{category.slug}}" id="slug" name="slug" placeholder="Enter slug" disabled="disabled"> 
      </div>
  <input type="submit" value="Edit">
</form>
</div>

