<h1>Edit category page</h1> 
<div class="mt-4 ml-4">
  {{!-- enctype="multipart/form-data" --}}
<form action="/category/{{category._id}}?_method=PUT" method="post">
  <div class="form-group">
        <label for="name">name</label>
        <input type="text" class="form-control" value="{{category.name}}" id="name" name="name" placeholder="Enter name"> 
      </div>
      <div class="form-group">
        <label for="deadlineSubmit">Deadline Submit</label>
        <input type="date" class="" value="{{moment category.deadlineSubmit format="YYYY-MM-DD"}}" min="{{moment category.createdAt format="YYYY-MM-DD"}}" id="deadlineSubmit" name="deadlineSubmit"> 
      </div>
      <div class="form-group">
        <label for="deadlineCmt">Deadline Comment</label>
        <input type="date" class="" value="{{moment category.deadlineCmt format="YYYY-MM-DD"}}" min="{{moment category.deadlineSubmit format="YYYY-MM-DD"}}" id="deadlineCmt" name="deadlineCmt"> 
      </div>
      <div class="form-group">
        <label for="createdAt">Create at</label>
        <input type="text" class="form-control" value="{{category.createdAt}}" id="createdAt" name="createdAt" disabled="disabled" placeholder="Enter createdAt"> 
      </div>
  <input type="submit" value="Edit">
</form>
</div>

