<h1 id="h1-edit-category"><b>EDIT CATEGORY</b></h1>
<button id="edit_back" type="button" onclick="Back()"><b><i> Back </i></b></button>

<form id="edit-all" action="/category/{{category._id}}?_method=PUT" method="post">
  <div class="edit-form">
      <p id="edit-name">
        <label for="categoryName"><b><i>Category Name</i></b></label></p>
      <p id="edit-box">
        <input id="box-text-edit" type="text" name="categoryName" placeholder="Enter category name" value="{{category.categoryName}}"></p>
      
      <p id="edit-name">
        <label for="deadlineSubmit"><b><i>Deadline Submit</i></b></label></p>
      <p id="edit-box">
        <input id="box-date-EditSubmit" type="date" name="deadlineSubmit" value="{{moment category.deadlineSubmit format="YYYY-MM-DD"}}" min="{{moment category.createdAt format="YYYY-MM-DD"}}"></p>

      <p id="edit-name">
        <label for="deadlineCmt"><b><i>Deadline Comment</i></b></label></p>
      <p id="edit-box">
        <input id="box-date-EditCmt" type="date" name="deadlineCmt" value="{{moment category.deadlineCmt format="YYYY-MM-DD"}}" min="{{moment category.deadlineSubmit format="YYYY-MM-DD"}}"></p>

      <p id="edit-name">
        <label for="createdAt"><b><i>Create at</i></b></label></p>
      <p id="edit-box">
        <input id="box-text-EditcreatedAt" type="text" name="createdAt" disabled="disabled" value="{{category.createdAt}}"></p>

      <p id="edit-butsub">
        <input id="box-edit-sub" type="submit" value="Edit"></p>
  
  </div>
</form>

<script>
  function Back()
  {
    history.back();
  }
</script>

