<h1 id="h1-manage-category"><B>CATEGORY MANAGEMENT</B></h1>
<p id="p-manage-category"><button id="manage_back" type="button" onclick="Back()"><b><i> Back </i></b></button></p>
<p id="p-manage-category"><a href="/category/trash"><b><i> Trash Category </i></b></a>(Total: {{deletedCount}})</p>
<p id="p-manage-category"><a href="/category/create"><b><i> Create Category </i></b></a></p>

<form name="container-form" action="/category/handle-form-actions" method="POST">
    <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all"><b>Select All Categories</b></label>
        </div>

        <select class="checkbox-select-all-options" name="action" required>
            <option value="delete">Delete</option>
        </select>

        <button id="manage-but1" value="Do action" type="button" class="btn btn-primary disabled check-all-submit-btn"><b>Do Action</b></button>
    </div>
<div class="table-responsive">
    
    <table class="table mt-4">
        <thead>
            <tr id="manage-line1">
                <th></th>
                <th scope="col">No <i>(Total: {{storedCount}})</i></th>
                <th scope="col">Category Name</th>
                <th scope="col">Idea Count</th>
                <th scope="col">Created Date</th>
                <th scope="col">Deadline Submit</th>
                <th scope="col">Deadline Comment</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            {{#each category}}
            <tr id="manage-line2">
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="categoryIds[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td><b>{{this.categoryName}}</b></td>
                <td>{{this.ideaCount}}</td>
                <td>{{moment this.createdAt format="DD-MM-YYYY"}}</td>
                <td>{{moment this.deadlineSubmit format="DD-MM-YYYY"}}</td>
                <td>{{moment this.deadlineCmt format="DD-MM-YYYY"}}</td>
                <td style="padding:5px">
                    <a href="/category/{{this._id}}/edit">
                        <button id="ED" type="button" class="btn btn-secondary"><i>Edit</i></button></a>
                    <a href="/category/{{this.slug}}">
                        <button id="DE" type="button" class="btn btn-secondary"><i>Detail</i></button></a>
                    {{#ifeq this.ideaCount 0}}
                        <a href="" data-toggle="modal" data-target="#delete-category" data-id="{{this._id}}">
                        <button id="DL" class="btn btn-secondary"><i>Delete</i></button></a>
                    {{else}}
                        <button class="btn btn-dark" disabled><i>Delete</i></button>
                    {{/ifeq}}
                </td>
            </tr>
                {{else}}
            <tr id="manage-line2-0">
                <td colspan="10">You have not created any category.
                    <a href="/category/create"><i>Create new one?</i></a>
                </td>
            </tr>
                {{/each}}
        </tbody>
    </table>
</div>

    {{!-- Confirm delete code --}}
    <div class="modal fade" id="delete-category" tabindex="-1" role="dialog" aria-labelledby="delete-categoryLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-categoryLabel"><b>Delete Category</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">Are you sure to delete this category?</div>
                
                <div class="modal-footer">
                    <button id="btn-delete-category" type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

        <!-- Delete multiple categories model confirm -->
    <div class="modal fade" id="delete-multiple-categories" tabindex="-1" role="dialog" aria-labelledby="delete-multiple-categoriesLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-multiple-categoriesLabel"><b>Delete category</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">Are you sure to <b><i>delete</i></b> these categories?</div>
            
                <div class="modal-footer">
                    <button class="btn btn-danger btn-small disabled delete-multiple-categories-btn">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
        {{!-- Delete form hidden --}}
<form name="delete-category-form" method="post"></form>

<script>
    //WHEN HTML DOM is loaded, Delete confirm shows
    document.addEventListener('DOMContentLoaded', function(){
        var categoryId;
        var deleteForm = document.forms['delete-category-form'];
        var checkboxAll = $('#checkbox-all');
        var categoryItemCheckBox = $('input[name="categoryIds[]"]');
        var deleteMultipleCategoriesBtn = $('.delete-multiple-categories-btn');
        var containerForm = document.forms['container-form'];
        var checkAllSubmitBtn = $('.check-all-submit-btn');

        $('#delete-category').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        categoryId = button.data('id')
        })

        //When delete category btn clicked
        var btnDeleteCategory = document.getElementById('btn-delete-category')
        btnDeleteCategory.onclick = function(){
            deleteForm.action = '/category/' + categoryId + '?_method=DELETE';
            deleteForm.submit();
        }

        //Checkbox all clicked
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked');
                categoryItemCheckBox.prop('checked', isCheckedAll);
                renderCheckAllSubmitBtn();
        });

        categoryItemCheckBox.change(function () {
            var isCheckedAll = categoryItemCheckBox.length === $('input[name="categoryIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        })

        //Check all submit btn clicked not submit
        deleteMultipleCategoriesBtn.on('submit', function (e) {
            var isSubmittable = !$(this).hasClass('disable');
            if(!isSubmittable){
                e.preventDefault();
            }
        })

        checkAllSubmitBtn.on('change', function (e) {
            var isSubmittable = !$(this).hasClass('disable');
            if(isSubmittable){
                e.preventDefault();
                console.log('123')
            }
        })
        
        //Re-render check all submit button <Go>
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="categoryIds[]"]:checked').length;
            if(checkedCount > 0){
                deleteMultipleCategoriesBtn.removeClass('disabled');
                checkAllSubmitBtn.removeClass('disabled');
                checkAllSubmitBtn.attr("data-toggle","modal");
                checkAllSubmitBtn.attr("data-target","#delete-multiple-categories");
            } else{
                deleteMultipleCategoriesBtn.addClass('disabled');
                checkAllSubmitBtn.addClass('disabled');
                checkAllSubmitBtn.attr("data-toggle","");
                checkAllSubmitBtn.attr("data-target","");
            }
        }
    })

    function Back()
    {
        history.back();
    }
</script>