<h1 id="h1-show-category"><B> CATEGORY DETAIL </B></h1>

<div class="mt-4">
    <div class="row">
        <div class="col-lg-2">
            <h1>List</h1>
            <ul>
                {{#each list}}
                    <a href="/category/{{this.slug}}"><li>{{this.name}}</li></a>
                {{/each}}
            </ul>
        </div>
        <div style="background-color:rgb(231, 230, 230)" class="col-lg-10">
            <p>- Name: {{categoryDetail.name}}</p>
            <p>- Deadline Submit at: {{moment categoryDetail.deadlineSubmit format="HH:mm on DD-MM-YYYY"}}</p>
            <p>- Deadline Cmt at: {{moment categoryDetail.deadlineCmt format="HH:mm on DD-MM-YYYY"}}</p>
            <p></p>
            <p>- Create at: {{moment categoryDetail.createdAt format="HH:mm on DD-MM-YYYY"}}</p>
            <p>- Update at: {{moment categoryDetail.updatedAt format="HH:mm on DD-MM-YYYY"}}</p>
        </div>
    </div>
</div>