<h1 id="h1-cateshow">{{categoryDetail.categoryName}} Category</h1>

<div id="container">
    <div class="title-cate container-fluid">
        <div class="row">
            <ul>
                <p class="cate-detail_dea"><b>- Deadline Submit at: </b>{{moment categoryDetail.deadlineSubmit format="HH:mm on DD-MM-YYYY"}}</p>
			    <p class="cate-detail_cmt"><b>- Deadline Cmt at: </b>{{moment categoryDetail.deadlineCmt format="HH:mm on DD-MM-YYYY"}}</p>
			    <p class="cate-detail_cre"><b>- Create at: </b>{{moment categoryDetail.createdAt format="HH:mm on DD-MM-YYYY"}}</p>
			    <p class="cate-detail_upd"><b>- Update at: </b>{{moment categoryDetail.updatedAt format="HH:mm on DD-MM-YYYY"}}</p>
            </ul>
        </div>
    </div>
</div>