<h1>Show Detail category page</h1> 
<div class="mt-4">
    <div class="row">
        <div class="col-lg-2">
            <h1>List</h1>

        </div>
        <div style="background-color:lightgrey" class="col-lg-10">
            <h1 class="text-center">Category Detail</h1>
            <img style="width:100px" src="{{category.image}}" alt="">
            <p>- Name: {{category.name}}</p>
            <p>- Detail: {{category.description}}</p>
            <p>- Create at: {{moment category.createdAt format="HH:mm on DD-MM-YYYY"}}</p>
            <p>- Update at: {{moment category.updatedAt format="HH:mm on DD-MM-YYYY"}}</p>
        </div>
    </div>
</div>