<h1>Show Detail category page</h1> 
<div class="mt-4">
    <div class="row">
        <div class="col-lg-2">
            <h1>List</h1>
            <ul>
                {{#each list}}
                    <a href="/category/{{this.slug}}"><li>{{this.name}}</li></a>
                {{/each}}
            </ul>
        </div>
        <div style="background-color:lightgrey" class="col-lg-10">
            <h1 class="text-center">Category Detail</h1>
            <p>- Name: {{categoryDetail.name}}</p>
            <p>- Deadline at: {{moment categoryDetail.deadline format="HH:mm on DD-MM-YYYY"}}</p>
            <p></p>
            <p>- Create at: {{moment categoryDetail.createdAt format="HH:mm on DD-MM-YYYY"}}</p>
            <p>- Update at: {{moment categoryDetail.updatedAt format="HH:mm on DD-MM-YYYY"}}</p>
        </div>
    </div>
</div>