<h1>Show Detail category page</h1> 
<div class="mt-4">
    <div class="row">
        <div class="col-lg-2">
            <h1>List</h1>

        </div>
        <div style="background-color:lightgrey" class="col-lg-10">
            <h1 class="text-center">Category Detail</h1>
            <img style="width:100px" src="{{category.image}}" alt="">
            <p>{{category.name}}</p>
            <p>- {{category.description}}</p>
            <p>- Create at: {{category.createdAt}}</p>
            <p>- Update at: {{category.updatedAt}}</p>
        </div>
    </div>
</div>