<h1 id="h1-trash-category"><B> DELETED CATEGORY </B></h1>
<p id="p-trash-category"><button id="trash_back" type="button" onclick="Back()"><b><i> Back </i></b></button></p>
<p id="p-trash-category"><a href="/category/manage" id="Tr"><b><i>Stored Category</i></b></a> (Total: {{storedCount}})</p>


<p id="p-trash-category">
<div class="mt-4 d-flex align-items-center">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all"><b>Select All Categories</b></label>
    </div>
    <select class="checkbox-select-all-options" name="action" id="action-select" required>
        <option value="restore" selected>Restore</option>
        <option value="force">Delete from Bin</option>
    </select>
    <button id="trash-button" type="button" class="check-all-submit-btn">Do Action</button>
</div></p>

<form id="trash-all" action="/category/handle-form-actions" method="POST">
<div class="table-responsive">
    
    <table class="table">
        <thead>
            <tr id="trash-first">
                <th></th>
                <th scope="col">No <i>(Total: {{deletedCount}})</i></th>
                <th scope="col">Category Name</th>
                <th scope="col">Created at</th>
                <th scope="col">Deleted at</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            {{#each category}}
            <tr id="trash-second">
                <th>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="categoryIds[]" value="{{this._id}}"></label>
                    </div>
                </th>
                <th scope="row">{{sum @index 1}}</th>
                    <td>
                        <a href="/category/{{this.slug}}" id="name-category"><b>{{this.categoryName}}</b></a>
                    </td>
                    <td>{{moment this.createdAt format="HH:mm on DD-MM-YYYY"}}</td>
                    <td>{{moment this.deletedAt format="HH:mm on DD-MM-YYYY"}}</td>
                    <td id="trash-second-td1">
                        <a href="" data-toggle="modal" data-target="#restore-category" data-id="{{this._id}}">
                            <button id="trash-cate-button1" class="btn btn-secondary btn-restore"><i>Restore</i></button>
                        </a>
                        <a href="" data-toggle="modal" data-target="#delete-category" data-id="{{this._id}}">
                            <button id="trash-cate-button2" class="btn btn-secondary btn-force"><i>Delete</i></button>
                        </a>
                    </td>
            </tr>
                {{else}}
            <tr id="trash-three">
                <th>
                    <td colspan="5">The trash is empty.
                        <a href="/category/manage"><i>Stored Category</i></a>
                    </td>
                </th>
            </tr>
                {{/each}}
        </tbody>
    </table>
</div>
    
    {{!-- Confirm force delete 1 category code --}}
    <div class="modal fade" id="delete-category" tabindex="-1" role="dialog" aria-labelledby="delete-categoryLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="delete-categoryLabel"><b>Delete Category</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            
                <div class="modal-body">This action <b>cannot be recovered.</b> <br>
                    Are you sure you want to <b>permanently delete</b> this category?
                </div>

                <div class="modal-footer">
                    <button id="btn-delete-category" type="button" class="btn btn-danger ">Permanently Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- Confirm restore multiple categories code --}}
    <div class="modal fade" id="restore-category" tabindex="-1" role="dialog" aria-labelledby="restore-categoryLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="restore-categoryLabel"><b>Restore Category</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    Are you sure you want to <b>restore</b> this category?
                </div>
            
                <div class="modal-footer">
                    <button id="btn-restore-category" type="button" class="btn btn-danger ">Restore</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

        {{!-- Confirm force delete multiple categories code --}}
    <div class="modal fade" id="action-change-modal" tabindex="-1" role="dialog" aria-labelledby="action-change-modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="action-change-modalLabel"><b>Action Category</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <b>Are you sure</b> you want to do that change?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-danger btn-action-change-restore"> Action</button>
                {{!-- <button type="" class="btn btn-danger btn-action-change-modal">Permanently </button> --}}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</form>

        {{!-- Delete and restore form hidden --}}
<form name="delete-category-form" method="post"></form>
<form name="restore-category-form" method="post"></form>

<script>
    //WHEN HTML DOM is loaded, Delete confirm shows
    document.addEventListener('DOMContentLoaded', function(){
        var categoryId;
        var deleteForm = document.forms['delete-category-form'];
        var forceBtnAll = document.querySelectorAll('.btn-force');

        var restoreForm = document.forms['restore-category-form'];
        var restoreBtnAll = document.querySelectorAll('.btn-restore');

        var checkboxAll = $('#checkbox-all');
        var categoryItemCheckBox = $('input[name="categoryIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');

        // When checkbox select all clicked
        checkboxAll.change( function () {
            var isCheckedAll = $(this).is(':checked');
            categoryItemCheckBox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        })

        // When checkbox item clicked
        categoryItemCheckBox.change( function () {
            var isCheckedAll = categoryItemCheckBox.length === $('input[name="categoryIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        })

        // Render submit action button 
        function renderCheckAllSubmitBtn(){
            var checkedCount = $('input[name="categoryIds[]"]:checked').length;
            if (checkedCount > 0 ){
                checkAllSubmitBtn.removeClass('disabled')
                checkAllSubmitBtn.attr("data-toggle","modal");
                checkAllSubmitBtn.attr("data-target","#action-change-modal");
                 $('.btn-action-change-restore').attr("type","submit")
            }
            else{
                checkAllSubmitBtn.addClass('disabled')
                checkAllSubmitBtn.attr("data-toggle","");
                checkAllSubmitBtn.attr("data-target","");
            }
        }
        
        //When button delete clicked
        $('#delete-category').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        categoryId = button.data('id')
        })
        var btnDeleteCategory = document.getElementById('btn-delete-category')
        btnDeleteCategory.onclick = function(){
            deleteForm.action = '/category/' + categoryId + '/force?_method=DELETE';
            deleteForm.submit();
        }

        //When button restore clicked
        $('#restore-category').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        categoryId = button.data('id')
        })
        var btnRestoreCategory = document.getElementById('btn-restore-category')
        btnRestoreCategory.onclick = function(){
            restoreForm.action = '/category/' + categoryId + '/restore?_method=PATCH';
            restoreForm.submit();
        }
        
        // Restore multiple categories when btn clicked 
        $('.btn-action-change-restore').on('submit', function (e) {
            var isSubmittable = !$(this).hasClass('disable');
            if(!isSubmittable){
                e.preventDefault();
            }
        })
    })

    function Back()
    {
        history.back();
    }

</script>